.checkout__container {
  display: flex;
  flex-direction: column;
  background-color: #990099;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading {
  font-size: 1.4rem;
  color: #ffffff;
  margin-top: 20px;
}

.subheading {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 20px;
}

.fetch__order {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  width: 300px;
  justify-content: center;
}

.order__review {
  margin-top: 30px;
  border: 3px solid #ffffff;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
}

.fetch__button {
  height: 25px;
  width: 120px;
  border: none;
  border-radius: 10px 10px;
  margin-left: 10px;
}

.fetch__button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.1s all ease-in-out;
}

.fetch__button:disabled {
  cursor: not-allowed;
}

.order__review > tbody > tr > td {
  padding: 10px;
}

.warn {
  color: #ff2212;
  font-style: italic;
  background-color: #ffffff;
  padding: 2px 20px;
  border-radius: 10px;
}

.paynow__button {
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 10px 10px;
  margin-top: 20px;
}

.paynow__button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.1s all ease-in-out;
}
